################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SMSApi/bin/Debug/net8.0
/SMSApi/obj
/SMSApi/SMSApi.csproj.user
